{% if customer %}
<div class="ets-social-login--customer_logged_in"></div>
{% endif %}
<script type="text/javascript">
    const ETS_SOLO_DOMAIN_SHOP = "{{ shop.domain }}";
</script>
<script src="{{ 'ets_social_login_config.aio.min.js' | asset_url }}" type="text/javascript"></script>
<script src="{{ 'ets_social_login.aio.min.js' | asset_url }}" defer="defer" type="text/javascript"></script>